In [2]:
#1
name = input("Enter the name: ")
rn = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name: ", name)
print("Roll No: ", rn)
print("Mark: ", mark)

Enter the name: ritu
Enter the roll number: 45
Enter the mark: 68
Name:  ritu
Roll No:  45
Mark:  68

In [11]:
#2
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Fahrenheit",fahrenheit)

Enter temperature in celsius: 45
Fahrenheit 113.0

In [12]:
Farenheit = float(input("Enter temperature in farenheit: "))
celsius = (fahrenheit - 32) * 5/9
print("celsius",celsius)

Enter temperature in farenheit: 101.3
celsius 45.0

In [14]:
#3
number1=float(input("Enter first number "))
number2=float(input("Enter second number "))
product=number1*number2
print("product of 2 numbers ", product)

Enter first number 3
Enter second number 4
product of 2 numbers  12.0

In [29]:
#4
s = input("Enter a sentence: ")
n_s = s.replace("python" , "**python**")
m_s = n_s.replace("website" , "**website**")
print(m_s)

Enter a sentence: Learn python by developing a website
Learn **python** by developing a **website**

In [30]:
#5
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius**2

print("The area of the circle is: ", area)

Enter the radius of the circle: 5
The area of the circle is:  78.53981633974483

In [32]:
#6
numbers = [3,4,5,6,7]
num = int(input("Enter the number to be inserted: "))
pos = int(input("Enter the position to insert the number: "))

numbers += [3,4,5,6,7] * (pos - len(numbers) - 1)
numbers.append(num)

print("The list after inserting the number: ", numbers)

Enter the number to be inserted: 45
Enter the position to insert the number: 5
The list after inserting the number:  [3, 4, 5, 6, 7, 45]

In [33]:
#7
sample_dict = { "name": "John", "age": 5, "salary": 8000, "city": "New York"}

sample_dict["location"] = sample_dict.pop("city")

print("The updated dictionary: ", sample_dict)

The updated dictionary:  {'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [34]:
#8
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 8500

print("The updated dictionary: ", sample_dict)

The updated dictionary:  {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [35]:
#9
tuple1 = (10, 20, 43, 54, 56, 68)
new_tuple = (43, 54)

print("The new tuple: ", new_tuple)

The new tuple:  (43, 54)

In [36]:
#10
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)

print("The number of occurrences of 50 in the tuple: ", count)

The number of occurrences of 50 in the tuple:  3